<ejs-grid [dataSource]='' height='267px'>
  <e-columns>
    <e-column field='id' headerText='ID' textAlign='Right' width=90></e-column>
    <e-column field='date' headerText='Ημερομηνία' format='yMd' textAlign='Right' width=90></e-column>
    <e-column field='description' headerText='Περιγραφή' width=90></e-column>
    <e-column field='amount' headerText='Ποσό' textAlign='Right' width=90></e-column>
    <e-column field='type' headerText='Τύπος' width=90></e-column>
    <e-column field='category' headerText='Κατηγορία' width=90></e-column>
    <e-column field='company' headerText='Εταιρεία' width=90></e-column>
    <e-column field='user' headerText='Χρήστης' width=90></e-column>
  </e-columns>
</ejs-grid>
