<div class="flex h-screen bg-violet-200">
  <!-- Left side -->
  <div class="w-64 h-full"> <!-- bg-violet-200 -->
    <!-- Content for the left side -->
  </div>

  <!-- Right side -->
  <div class="flex-1 flex flex-col">
    <!-- Top section of the right side -->
    <div class="h-auto"> <!-- bg-violet-300 -->
      <!-- Content for the top section -->
       <div class="flex flex-row justify-center">
        <ejs-menu [items]="menuItems"></ejs-menu>
       </div>
    </div>

    <!-- Bottom section of the right side -->
    <div class="flex-1 overflow-y-auto  p-2"><!-- bg-violet-400 -->
      <!-- Content for the bottom section (this will be scrollable) -->
       <div class="flex flex-row justify-center">
        <router-outlet></router-outlet>
       </div>

    </div>
  </div>
</div>





  <ejs-dialog #loginDialog id="loginDialog"  [visible]="false" [isModal]="true" [showCloseIcon]="true"
    [position]="{ X: 'center', Y: 'center' }"   width='550px'>

    <ng-template #footerTemplate>
      <div class="flex flex-row justify-center">
        <button class="e-btn" (click)="loginDialog.hide()">Cancel</button>
        <button class="e-btn" (click)="loginDialog.hide()">OK</button>
      </div>
    </ng-template>
    <ng-template #content>
      <div class="flex flex-row justify-center -p-4">
        <app-login></app-login>
      </div>
    </ng-template>
    <ng-template #header>

    </ng-template>

  </ejs-dialog>
