<form [formGroup]="loginForm" (ngSubmit)="login()" class="w-full my-12">
  <div class="flex flex-col -my-6 w-full rounded shadow-lg border-4 border-violet-400 p-10">
    <!-- Logo -->
    <div class="py-6"></div>

    <div class="py-6 flex flex-row justify-center items-baseline -mx-2">
      <div class="px-2 w-64">
        <ejs-textbox formControlName="userName"  placeholder="Email"  floatLabelType="Auto"></ejs-textbox>
      </div>
    </div>

    <div class="py-6 flex flex-row justify-center items-baseline -mx-2">
      <div class="px-2 w-64">
        <ejs-textbox type="password" formControlName="password"  placeholder="Κωδικός"
           floatLabelType="Auto"></ejs-textbox>
      </div>
    </div>

    <div class="py-6 flex flex-row justify-center items-baseline -mx-2">
      <div class="px-2 w-64">
        <ejs-checkbox class="e-small" formControlName="rememberMe" label="Να με θυμάσαι!"></ejs-checkbox>
      </div>
    </div>

    <div class="py-6 flex flex-row justify-end items-baseline -mx-2">
      <div class="px-2">
        <button type="submit" ejs-button class="e-primary">Σύνδεση</button>
      </div>
    </div>

  </div>

</form>
