<div class="p-2">
  <div class="flex flex-row justify-start -mx-2 divide-x divide-gray-300">
    <div class="px-2 w-216">
      <ejs-grid [dataSource]='expenseTypes$ | async'>
        <e-columns>
          <e-column field="headExpenseTypeID" [isPrimaryKey]="true" [visible]="false"></e-column>
          <e-column field="headCompanyID" [visible]="false"></e-column>
          <e-column width="40" field="isActive" headerText="Ενεργό" [type]="'checkbox'"></e-column>
          <e-column width="100" field="name"></e-column>
          <e-column width="200" field="description"></e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <div class="px-2">

    </div>
  </div>


</div>
